<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <p onclick="tictactoe()">Tic-Tac-Toe</p>
    <script>

        function tictactoe(){
            fetch(`http://localhost:9999/tic_tac_toe`)
        }

    </script>
</body>
</html>