<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ehya Website Project</title>
    <link rel="stylesheet" href="css/html_css_project1.css">

    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,200&display=swap" rel="stylesheet">



    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="site-wrapper">


        <!-- *************Header/Navbar Of the Site********************* -->
        <header>
            <div class="container">
                <nav>
                    <div class="logo">
                        <span>EHYA</span>
                    </div>

                    <div class="navigationmenu">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Landings</a></li>
                            <li><a href="">Pages</a></li>
                            <li><a href="">Docs</a></li>
                            <li><a href="">Help</a></li>
                        </ul>
                        <p><a href="">Get It Now</a></p>
                    </div>
                </nav>

            </div>
        </header>


        <!-- ******************Content of the Site******************** -->

        <div class="content">

            <section>
                <div class="content1">
                    <div class="col1">
                        <img src="/images/Image.png" alt="">
                    </div>
                    <div class="col2">
                        <div class="col2w">
                            <h1>Make your new life happier</h1>
                            <p>We work with several leading insurance companies to secure insurance coverages tailored
                                to
                                meet your needs.</p>
                            <div class="col2cards">
                                <div class="col2cardscol">
                                    <div class="icon">
                                        <i class="fa-solid fa-sack-dollar fa-2x"></i>
                                    </div>
                                    <div class="icontent">
                                        <span>Special expert rates</span>
                                        <p>Excellent Coverage</p>
                                    </div>
                                </div>
                                <div class="col2cardscol">
                                    <div class="icon">
                                        <i class="fa-solid fa-briefcase fa-2x"></i>
                                    </div>
                                    <div class="icontent">
                                        <span>Work life balance</span>
                                        <p>Make your life easier</p>
                                    </div>
                                </div>
                                <div class="col2cardscol">
                                    <div class="icon">
                                        <i class="fa-solid fa-headset fa-2x"></i>
                                    </div>
                                    <div class="icontent">
                                        <span>24/7 English Support</span>
                                        <p>Call us anytime</p>
                                    </div>
                                </div>
                                <div class="col2cardscol">
                                    <div class="icon">
                                        <i class="fa-solid fa-file fa-2x"></i>
                                    </div>
                                    <div class="icontent">
                                        <span>No paperwork</span>
                                        <p>just sign-up and use app</p>
                                    </div>
                                </div>
                            </div>

                            <span class="getconsultation"><a href="">Get a Consultation</a></span>
                        </div>
                    </div>
                </div>
            </section>



            <!-- Our Services -->
            <section class="ourservices">
                <div class="container">
                    <label>OUR SERVICES</label>
                    <p>Insurance made simple for you</p>
                    <p class="grey">We work with several leading insurance companies to secure insurance coverages
                        tailored to meet your needs</p>

                    <div class="serviceverification">
                        <div class="iver">
                            <i class="fa-solid fa-circle-check"></i>
                            <span>Flexible products to make your life easier</span>
                        </div>
                        <div class="iver">
                            <i class="fa-solid fa-circle-check"></i>
                            <span>Highest standards of service</span>
                        </div>
                        <div class="iver">
                            <i class="fa-solid fa-circle-check"></i>
                            <span>Fast and reliable Service</span>
                        </div>
                    </div>

                    <div class="cards">
                        <div class="card">
                            <div class="innercard">
                                <i class="fa-solid fa-house fa-2x"></i>
                                <h3>Home Insurance</h3>
                                <p>Home insurance is a type of insurance policy that provides cover for your home.</p>
                                <br>
                                <a href="">Learn More &rarr;</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="innercard">
                                <i class="fa-solid fa-heart-pulse fa-2x"></i>
                                <h3>Life Insurance</h3>
                                <p>helping your bridge gaps in your helath care coverage during times of transition.</p>
                                <br>
                                <a href="">Learn More &rarr;</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="innercard">
                                <i class="fa-solid fa-car-side fa-2x"></i>
                                <h3>Car Insurance</h3>
                                <p>Car insurance is a type of insurance policy that provides cover for your car.</p>
                                <br>
                                <a href="">Learn More &rarr;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <!-- ****************Banner************* -->

            <section class="overlay">
                <div class="bgimage">
                    <div class="container">

                        <div class="quote">
                            <div class="semicolon">
                                <i class="fa-sharp fa-solid fa-quote-left fa-2x"></i>
                            </div>
                            This platform is one of the best companies I have dealt with in Indonesia.They're always
                            happy to hep, and I wouldn't hesitate to recommend them.

                        </div>
                    </div>

                </div>
            </section>


            <!-- **************Your Benefits Section************ -->

            <div class="container">
                <section class="yourbenefits">

                    <div class="benefitsrow benefitsrow1">
                        <label>YOUR BENEFITS</label>
                        <h2>We're your right insurance advocate</h2>
                    </div>
                    <div class="benefitsrow">
                        <i class="fa-solid fa-hand-holding-dollar fa-2x"></i>
                        <h3>We have the best prices</h3>
                        <p>Our Insurance plans offers are priced the same everywhere else. We just make them easier for
                            you
                            to find.</p>

                    </div>
                    <div class="benefitsrow">
                        <i class="fa-solid fa-circle-check fa-2x"></i>
                        <h3>We're your insurance advocate</h3>
                        <p>Our Insurance plans offers are priced the same everywhere else. We just make them easier for
                            you
                            to find.</p>

                    </div>

                    <div class="benefitsrow">
                        <i class="fa-brands fa-react fa-2x"></i>
                        <h3>We're unbiased</h3>
                        <p>Our online tools helps you decide what product is best for you. We're here to insurance plan
                            you
                            choose.</p>
                    </div>
                    <div class="benefitsrow">
                        <i class="fa-solid fa-user-tie fa-2x"></i>
                        <h3>We're available 24/7</h3>
                        <p>We have your back 24/7 between our online chat function,email and telephone support.</p>

                    </div>
                    <div class="benefitsrow">
                        <i class="fa-solid fa-thumbs-up fa-2x"></i>
                        <h3>We make insurance simple</h3>
                        <p>We're committed to making applying for insurance as simple as can be for our customers.</p>

                    </div>

                </section>
            </div>
            <hr style="width:90%">



            <!-- *************************Tips Section***************************** -->


            <section class="tips">
                <div class="container">
                    <label>OUR TIPS FOR YOU</label>
                    <h3>Reinventing Your Protection</h3>
                    <span>We share common trends, strategies ideas, opinions, short & long stories from the team behind
                        company.</span>

                    <div class="tipssec">
                        <div class="tipssec1">
                            <p>How to prevent and protect your family from Carbon-Monoxide</p>
                        </div>
                        <div class="tipssec2">
                            <p>Motherhood is the hardest and the best job ever</p>
                        </div>
                    </div>
                </div>
            </section>


            <!-- *******************Testimonials Section************************** -->

            <section class="testimonials">
                <div class="container">
                    <label>Testimonials</label>
                    <h3>What our customer have to says</h3>
                    <div class="reviews">
                        <div class="review">
                            <div class="star">
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <p>I received great customer service from the specialists who helped me. I would recommend
                                to
                                anyone who wants quality</p>
                            <div class="persondetail">
                                <div class="profilepic">
                                    <img src="/images/Viola manisa.png" alt="" srcset="">
                                </div>
                                <div class="profiledetail">
                                    <span>Viola Manisa</span>
                                    <div class="verifiedcustomer">
                                        <i class="fa-sharp fa-solid fa-circle-check"></i>
                                        <span>Verified Customer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review">
                            <div class="star">
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <p>Very responsive and competent! I've never dealt with an insurance company this
                                customer-friendly in my life</p>
                            <div class="persondetail">
                                <div class="profilepic">
                                    <img src="images/Bryan Arnoldy.png" alt="" srcset="">
                                </div>
                                <div class="profiledetail">
                                    <span>Bryan Arnoldy</span>
                                    <div class="verifiedcustomer">
                                        <i class="fa-sharp fa-solid fa-circle-check"></i>
                                        <span>Verified Customer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review">
                            <div class="star">
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <p>My experience with this platform so far has been great. Everything is easy, from signing
                                the
                                contract to making an appointment.</p>
                            <div class="persondetail">
                                <div class="profilepic">
                                    <img src="images/Joshua William.png" alt="" srcset="">
                                </div>
                                <div class="profiledetail">
                                    <span>Joshua William</span>
                                    <div class="verifiedcustomer">
                                        <i class="fa-sharp fa-solid fa-circle-check"></i>
                                        <span>Verified Customer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review">
                            <div class="star">
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <p>It's the best online insurance you can find. Easy, without hidden costs and you can be
                                very
                                sure your data is completely save.</p>
                            <div class="persondetail">
                                <div class="profilepic">
                                    <img src="images/George Scott.png" alt="" srcset="">
                                </div>
                                <div class="profiledetail">
                                    <span>George Scott</span>
                                    <div class="verifiedcustomer">
                                        <i class="fa-sharp fa-solid fa-circle-check"></i>
                                        <span>Verified Customer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>




        <!-- ***************Footer Of the Site********************** -->



        <footer>
            <div class="container">

                <section class="footersec1">
                    <div class="footercol1">
                        <h3>Ready to get insured? Submit your request and hear back as soon as tomorrow</h3>
                        <div class="footerbtn">
                            <input type="text" name="email" id="email" placeholder="Your Email">
                            <p><a href="">Get Started</a></p>
                        </div>
                        <p>get a response tomorrow if you submit by 9pm today. If we received after 9pm will get a
                            response
                            the following day.</p>

                    </div>
                    <div class="footercol2">
                        <div class="footercard1">
                            <i class="fa-solid fa-hand-holding-dollar"></i>
                            <div class="footercard1content">
                                <span>We have the best prices</span>
                                <p>Our insurance plan offers are priced the same everywhere else.</p>
                            </div>

                        </div>
                        <div class="footercard2">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <div class="footercard1content">
                                <span>We make insurance simple</span>
                                <p>We're committed to making applying for insurance as simple as can be</p>
                            </div>

                        </div>
                    </div>
                </section>
                <section class="footersec2">
                    <div class="about footersec2col">
                        <div class="logo">ehya</div>
                        <p>Build a modern and creative website with crealand</p>
                        <div class="socialmedia">
                            <i class="fa-brands fa-google"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-brands fa-youtube"></i>
                        </div>
                    </div>
                    <div class="product footersec2col">
                        <h4>Product</h4>
                        <ul>
                            <li><a href="">Landpage</a></li>
                            <li><a href="">Features</a></li>
                            <li><a href="">Documentation</a></li>
                            <li><a href="">Referral program</a></li>
                            <li><a href="">Pricing</a></li>
                        </ul>
                    </div>
                    <div class="services footersec2col">
                        <h4>Services</h4>
                        <ul>
                            <li><a href="">Documentation</a></li>
                            <li><a href="">Design</a></li>
                            <li><a href="">Themes</a></li>
                            <li><a href="">illustrations</a></li>
                            <li><a href="">UI Kit</a></li>
                        </ul>
                    </div>
                    <div class="company footersec2col">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="">About</a></li>
                            <li><a href="">Terms</a></li>
                            <li><a href="">Privacy policy</a></li>
                            <li><a href="">careers</a></li>
                        </ul>
                    </div>
                    <div class="more footersec2col">
                        <h4>More</h4>
                        <ul>
                            <li><a href="">Documentation</a></li>
                            <li><a href="">License</a></li>
                            <li><a href="">Changelog</a></li>
                        </ul>
                    </div>
                </section>
                <section class="footersec3">
                    <i class="fa-solid fa-heart"></i>
                    <p>Copyright &#169; 2019. Crafted with Love</p>
                </section>
            </div>
        </footer>


    </div>
</body>

</html>