<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project-2</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="/css/html_css_project2.css">

    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="site_wrapper">
        <!-- *************Header/Navbar Of the Site********************* -->
        <header>
            <div class="container">
                <nav>
                    <div class="logo">
                        <span>EHYA</span>
                    </div>

                    <div class="navigationmenu">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Landings</a></li>
                            <li><a href="">Pages</a></li>
                            <li><a href="">Docs</a></li>
                            <li><a href="">Help</a></li>
                        </ul>
                        <p><a href="">Get It Now</a></p>
                    </div>
                </nav>

            </div>
        </header>



        <!-- **********************Content of the Site****************** -->

        <div class="content">


            <!-- *********************Banner of the Site*****************  -->
            <section>

                <div class="banner">
                    <div class="banner_content">

                        <h1>Number #1,<br> Southern Asia <br> Digital Product Agency</h1>

                        <p>We bring results while helping you achieve cost and time savings without taking on risk or
                            management overhead.</p>

                        <p class="button"><a href="">See our Portfolio</a></p>

                        <i class="fa-regular fa-circle-down fa-3x"></i>
                    </div>

                    <!-- <img src="/assets/images/banner.jpg" alt=""> -->
                    <img src="/images/banner.jpg" alt="">

                </div>

            </section>



            <!-- **********************Partners Section****************** -->

            <section>

                <div class="container">

                    <div class="partners">

                        <label>OUR PARTNER</label>

                        <div class="partnerrow1">

                            <h2>We've worked with them, <br> We Trust Each Other</h2>

                            <p>Our team provides high-level creative education to a global audience of students,
                                educators, and enterpreneurs all over the world</p>

                        </div>

                        <div class="partnerrow2">

                            <img src="/images/slack.png" alt="">
                            <img src="/images/Shape.png" alt="">
                            <img src="/images/fitbit.png" alt="">
                            <img src="/images/google.png" alt="">
                            <img src="/images/airbnb.png" alt="">
                        </div>


                    </div>

                </div>

            </section>

            <!-- ***********************What we Do Section ***************************  -->

            <section class="whatwedo">

                <div class="container">

                    <div class="whatwedo_row1">
                        <label>What We do</label>
                        <span>We work together with our client to execute impactful product</span>

                    </div>
                    <div class="whatwedo_row2">
                        <div class="card">
                            <div class="card_inner">
                                <i class="fa-solid fa-circle fa-2x"></i>
                                <div class="card_content">
                                    <span>Branding Identity</span>
                                    <p>We make logo and concept for your brand needs.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card_inner">
                                <i class="fa-solid fa-square fa-2x"></i>
                                <div class="card_content">
                                    <span>Development</span>
                                    <p>We code your apps, website and dashboard to you.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card_inner">
                                <i class="fa-solid fa-star fa-2x"></i>
                                <div class="card_content">
                                    <span>UI/UX Design</span>
                                    <p>Making beautiful and intuitive design digital product.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card_inner">
                                <i class="fa-solid fa-shield fa-2x"></i>
                                <div class="card_content">
                                    <span>Microstock</span>
                                    <p>We prouce million asset for your business needs.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card_inner">
                                <i class="fa-solid fa-certificate fa-2x"></i>
                                <div class="card_content">
                                    <span>Social Media</span>
                                    <p>Planning and maintenance social media for each audience.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card_inner">
                                <i class="fa-solid fa-diamond fa-2x"></i>
                                <div class="card_content">
                                    <span>Research</span>
                                    <p>helping research starup or brand to business needs.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </section>

            <!-- ************************Portfolio****************************** -->

            <section class="portfolio">

                <div class="container">

                    <label>PORTFOLIO</label>
                    <div class="portfolio_row1">
                        <span>Our Projects</span>

                        <div class="go_back_next">
                            <i class="fa-solid fa-arrow-left"></i>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                    <div class="portfolio_row2">
                        <div class="portfolio_card">
                            <div class="portfolio_inner_card">
                                <img src="/images/project1.png">
                                <p>Website Landing</p>
                                <h3>Website Project</h3>
                            </div>
                        </div>
                        <div class="portfolio_card">
                            <div class="portfolio_inner_card">
                                <img src="/images/project2.jpg">
                                <p>Dashboard, UI/UX Design</p>
                                <h3>Dashboard Project</h3>
                            </div>
                        </div>
                        <div class="portfolio_card">
                            <div class="portfolio_inner_card">
                                <img src="/images/project3.jpeg">
                                <p>Apps,Mobile,iOS</p>
                                <h3>Apps Project</h3>
                            </div>
                        </div>
                    </div>

                </div>

            </section>


            <!-- ********************Testimonials Section******************** -->

            <section class="testimonials">

                <div class="container">

                    <label>TESTIMONIAL</label>

                    <div class="testimonial_row1">
                        <span>What People Say about Us</span>

                        <div class="go_back_next">
                            <i class="fa-solid fa-arrow-left"></i>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>

                    <div class="testimonial_row2">
                        <div class="testimonial_card">
                            <div class="testimonial_inner_card">

                                <div class="profile_pic">
                                    <img src="/images/2nd.png" alt="">
                                    <div class="name_description">
                                        <span>Jaquon Hart</span>
                                        <p>VP Manager-lizlle Company</p>
                                    </div>
                                </div>
                                <div class="review">
                                    "Their UI/UX skills and experience were key to identifying potential friction
                                    points within our Business Processes, which they fixed or streamlined
                                    beautiful."
                                </div>

                            </div>
                        </div>

                        <div class="testimonial_card">
                            <div class="testimonial_inner_card">

                                <div class="profile_pic">
                                    <img src="/images/1st.png" alt="">
                                    <div class="name_description">
                                        <span>Valdemar Forsberg</span>
                                        <p>Founder Digitac Finance</p>
                                    </div>
                                </div>
                                <div class="review">
                                    Ehya pushed us to think beyond our initial scope and imagination while ensuring
                                    that the design and shape of the platform are continually adjusted based on
                                    data.
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </section>





            <!-- ********************Social Media Section******************** -->

            <section class="socialmedia">

                <div class="container">

                    <label>OUR SOCIAL MEDIA</label>

                    <div class="socialmedia_row1">
                        <span>Let's be Friends</span>
                    </div>

                    <div class="socialmedia_row2">

                        <div class="socialmedia_card">
                            <div class="socialmedia_inner_card">
                                <i class="fa-brands fa-instagram fa-2x"></i>
                                <h3>Instagram</h3>
                                <p>For our portfolio and Daily activities in office</p>
                                <a href="">Follow Us &#x2192;</a>
                            </div>
                        </div>

                        <div class="socialmedia_card">
                            <div class="socialmedia_inner_card">
                                <i class="fa-brands fa-twitter fa-2x"></i>
                                <h3>Twitter</h3>
                                <p>For random thoughts and funny things</p>
                                <a href="">Follow Us &#x2192;</a>
                            </div>
                        </div>

                        <div class="socialmedia_card">
                            <div class="socialmedia_inner_card">
                                <i class="fa-brands fa-dribbble fa-2x"></i>
                                <h3>Dribbble</h3>
                                <p>For Updated & Detailed all of our Portfolio</p>
                                <a href="">Follow Us &#x2192;</a>
                            </div>
                        </div>

                        <div class="socialmedia_card">
                            <div class="socialmedia_inner_card">
                                <i class="fa-brands fa-youtube fa-2x"></i>
                                <h3>Youtube</h3>
                                <p>For our video about tutorial and tips on design industry</p>
                                <a href="">Subscribe &#x2192;</a>
                            </div>
                        </div>

                    </div>

                </div>

            </section>



            <!-- *********************Challenging Project Section******************** -->

            <section class="challengingsection">

                <div class="challengingproject">

                    <h1>We're ready for a Challenging Project</h1>
                    <p class="callengepra">Send us your brief and tell your project too. We are ready to help you all
                        need</p>
                    <a href="">
                        <p class="challengebtn">Let's Discuss it!</p>
                    </a>
                    <!-- <p class="challengebtn"><a href="">Let's Discuss it!</a></p> -->
                </div>

            </section>


            <!-- ***************Footer Of the Site********************** -->

            <footer class="footer">
                <div class="container">

                    <section class="footersec2">
                        <div class="about footersec2col">
                            <div class="logo">ehya</div>
                            <p>Build a modern and creative website with crealand</p>
                            <div class="socialmedia">
                                <i class="fa-brands fa-google"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin"></i>
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                        </div>
                        <div class="product footersec2col">
                            <h4>Product</h4>
                            <ul>
                                <li><a href="">Landpage</a></li>
                                <li><a href="">Features</a></li>
                                <li><a href="">Documentation</a></li>
                                <li><a href="">Referral program</a></li>
                                <li><a href="">Pricing</a></li>
                            </ul>
                        </div>
                        <div class="services footersec2col">
                            <h4>Services</h4>
                            <ul>
                                <li><a href="">Documentation</a></li>
                                <li><a href="">Design</a></li>
                                <li><a href="">Themes</a></li>
                                <li><a href="">illustrations</a></li>
                                <li><a href="">UI Kit</a></li>
                            </ul>
                        </div>
                        <div class="company footersec2col">
                            <h4>Company</h4>
                            <ul>
                                <li><a href="">About</a></li>
                                <li><a href="">Terms</a></li>
                                <li><a href="">Privacy policy</a></li>
                                <li><a href="">careers</a></li>
                            </ul>
                        </div>
                        <div class="more footersec2col">
                            <h4>More</h4>
                            <ul>
                                <li><a href="">Documentation</a></li>
                                <li><a href="">License</a></li>
                                <li><a href="">Changelog</a></li>
                            </ul>
                        </div>
                    </section>
                    <section class="footersec3">
                        <i class="fa-solid fa-heart"></i>
                        <p>Copyright &#169; 2019. Crafted with Love</p>
                    </section>
                </div>
            </footer>


        </div>

    </div>
</body>

</html>